/* Vamos a hacer una trozo principal que ocupe todo el ancho der pantalla, luego vamos a hacer dos secciones en columna cuyo contenido esté en fila (ROW), la segunda de estas secciones la invertiremos el orden, las dos ultimas que ocupen el 75% elvideo y el 25% la cancion del ultimo single */

body{
    background-color: burlywood;
}


/* -------------- Estilos de CAbecera--------- */
.cabecera{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
 
}

ul{
   
    display: flex;
    justify-content: space-between;
}

li{
 
 list-style: none;
 font-family: Arial, Helvetica, sans-serif;
}

h1{
margin-block-end: 0;
margin-block-start: 0;

}

.titulo{
   
    justify-items: center;
}
.subtitulo{
    margin-block-start: 0;
    color:black;
    text-shadow: 2px 2px 4px;
    
}

/* ------------ Estilo del Main ------- */

#inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    gap:3vh;
}


.inicio-img{

}
.inicio-texto{

}
#ultimaActuacion{
 display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    gap:3vh;    
}
/*------------ Estilo de un Nuevo Single ------- */
#nuevoSingle{
 display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 3vh;
}
#nuevoSingle video{
    border: 5px solid rgb(255, 255, 255);
    width: 100%;
}